.close {
    text-align: end;
   }

.Profile-Information {
    font-family: Poppins;
    font-size: 2.2em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #333333;
  }

  .mat-dialog-title {
    margin: 0px 0 5px;
  }

  .To-use-your-benefits {
    opacity: 0.95;
    font-family: Poppins;
    font-size: 1.3em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: -0.05px;
    color: #666666;
  }

  .Rectangle-Copy-2 {
    width: 90%;
    height: 2px;
    margin: 10px;
    background-color: #f4f4f4;
  }  

  .Staff-ID {
    font-family: Poppins;
    font-size: 1.1em;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.09px;
    color: #666666;
  }

  .save {
    width: 31%;
    height: 37px;
    border-radius: 3.6px;
    background-color: #e60000;
    font-family: Poppins;
    font-size: 1.3em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
  }

  .cancel{
    width: 31%;
    height: 37px;
    border-radius: 3.6px;
    background-color: #333333;
    font-family: Poppins;
    font-size: 1.3em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
  }

  .mat-dialog-actions{
      padding-bottom: 35px;
  }