<div class="mainContainer">
    <mat-card>
        <div class="row FirstRow" flex fxLayout='row wrap' fxLayout.lt-sm="column">

            <img fxFlex.xs="70%" fxFlex.sm="60%" fxFlex.md="30%" fxFlex.lg="30%"
                src="../../assets/images/medicalrequest.svg" class="img" />

            <div fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="40%" fxFlex.lg="40%">
                <h2 class="Pension">Medical Card</h2>
                <p class="Vodafone-contributes">
                    Exclusive medical insurance arrangement with “Met Life”. You can include your spouse and
                    children upon interest at 25% of annual membership fees installed on monthly basis.
                </p>

                <button mat-button class="pensionBtn">Medical Card Activation</button>
                <br><br>
                <button mat-button class="deactivateBtn">Deactivation For Spouse & Child</button>
            </div>
        </div>

        <br />
        <hr class="new4" />
        <br />

        <div class="row SecondRow" flex fxLayout='row wrap' fxLayout.lt-sm="column">
            <div fxFlex.sm="80%" fxFlex.md="40%" fxFlex.lg="30%">
                <h4 class="Pension-Round">Medical Providers</h4>
                <p class="The-pension-round-gi">You can download Metlife latest list of
                    approved medical providers in Egypt from the below link.</p>

                <a class="Go-to-medical-provid"> Go to medical provider page</a>
                <p class="Download-Metlife-App">Download Metlife <br> Application</p>

                <div class="policyImg">
                    <img src="../../assets/images/android.svg">
                    <p class="VOIS-pension-policy">Download for Android</p>
                </div>

                <br><br>
                <div class="policyImg">
                    <img src="../../assets/images/ios.svg">
                    <p class="VOIS-pension-policy">Download for IOS</p>
                </div>
            </div>

            <div fxFlex.sm="80%" fxFlex.md="40%" fxFlex.lg="40%">
                <h4 class="FAQs">FAQs</h4>
                <p class="Please-visit-our-Pen">Please visit Metlife help center or go to our FAQs section.</p>
                <button mat-button class="FAQBtn">Medical Request FAQs</button>
                <br> <br>
                <button mat-button class="FAQHelpBtn">Metlife Help Center</button>
            </div>

        </div>
    </mat-card>
</div>