<div>
    <!-- Requests status dashboard -->
    <div class="rectangle">
        <div class="cardsContainer">
            <!-- fxLayoutAlign="space-evenly none" -->
            <div flex fxLayout="column" fxLayoutGap="20px">
                <div flex fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        <a class="requests-pension-r"> Requests /
                            <span class="pensionRequest"> Pension Request</span> </a>
                    </div>
                    <div fxLayout="row" fxLayoutGap="15px">
                        <!-- <a class="twitrCls"> -->
                        <button class="iconsCls">
                            <mat-icon class="material-icons-list">file_upload</mat-icon>
                        </button>
                        <button class="iconsCls">
                            <mat-icon class="material-icons-list">supervisor_account</mat-icon>
                        </button>
                        <button class="iconsCls">
                            <mat-icon class="material-icons-list">settings</mat-icon>
                        </button>
                        <button class="iconsCls">
                            <mat-icon class="material-icons-list">question_answer</mat-icon>
                        </button>

                    </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="20px">
                    <div class="backgroundTwo" flex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <div class="icon">
                            <mat-icon class="material-icons-requests">drafts</mat-icon>
                        </div>
                        <div>
                            <p class="number">1.930</p>
                            <p class="canceled-requests">Approved Requests</p>
                        </div>
                    </div>
                    <div class="background" flex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <div class="icon">
                            <mat-icon class="material-icons-requests"> email</mat-icon>
                        </div>
                        <div>
                            <p class="number">507</p>
                            <p class="canceled-requests">Canceled Requests</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Requests Table -->
    <div>

    </div>
</div>