 .rectangle {
        /* height: 1048px; */
        width: 100%;
        background-color: #F7F7F7;   
  }

  .cardsContainer{
        width: 95%;
        padding: 20px;
        /* text-align: center; */
        margin: auto;
  }
  
  .table{
      width: 100%;
      background-color: white;    
  }

  .tableContainer{
      width: 95%;
      padding: 20px;
      margin: auto;
  }

  .requests-pension-r {
      color:  #666666;

      font-family: 'Poppins';
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px;
    }
    .pensionRequest{
      color: #E60000;
      font-weight: 600;
    }

    .iconsCls {
      /* width: 1.263rem;
      height: 1.263rem;
      font-size: 22px;
      padding: 20px;
      background-color: white; */
      border: none;
      border-radius: 4.4px;
      background-color: #FFFFFF;
      box-shadow: 0 4px 24px 0 rgba(217,217,217,0.5);
      font-size: 20px;
      padding: 8px;
      background-color: white;
  }
  .background {
      height: 99.2px;
      width: 240px;
      border-radius: 4px;
      background: linear-gradient(180deg, #F55E62 0%, #E83033 100%);
      box-shadow: 0 2px 3px 0 rgba(0,0,0,0.02);
    }
  .material-icons-list {
      font-size: 20px;}
  .canceled-requests {
       color: #FFFFFF;
       font-family: 'Poppins';
       font-size: 12px;
       font-weight: 600;
       letter-spacing: 0;
       line-height: 19.2px;
       margin: 0;
   }
   .number {
      color: #FFFFFF;
      font-family: 'Poppins';
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 19.2px;
      margin: 0;
    }

    .icon {
      height: 24px;
      width: 33px;
    }
    .material-icons-requests{
          color: white;
          font-size: 30px;
    }
    .backgroundTwo{
            height: 99.2px;
            width: 240px;
            border-radius: 4px;
            background: linear-gradient(180deg, #61DDB3 0%, #32B97C 100%);
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.02);
    }

    /* table styles */

    .all-pension-requests {
      margin: 0;
      color: #333333;
      font-family: 'Poppins';
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 25px;
    }

    .searchCls{
          width: 50%;
    }
    .bg {
      box-sizing: border-box;
      height: 38px;
      width: 133px;
      border: 1px solid #333333;
      border-radius: 4px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-family: 'Poppins';
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 13px;
    }

    .reject{
      border: 1px solid #E60000;
      color: #E60000;
      
    }
    .export{
      border: 1px solid #333333;
      color: #333333;
    }
    .verticalIcon{
          font-size: 18px;
          vertical-align: sub;
    }


    /* table style */

    table {
      width: 100%;
    }

    th{
      text-transform: uppercase;
    }

    .circle{
      border: solid 1px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      color: transparent;
      display: inline-block;
    }

    .green{
      background-color:#03c990;
    }
    .deep-red{
      background-color:#E60000;
    }
    .greenText{
      color:#03c990;
    }
    .deep-red-text{
     color:#E60000;
    }

    .threeDots{
          color: #666666;
    }

    thead{
      color: #666666;
      font-family: 'Poppins';
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 16px;
    }