    <div class="close">
        <mat-icon matPrefix  >close</mat-icon>    
    </div>
<div  flex fxLayout='column' class="mainContainer"  fxLayoutAlign="center center" fxLayout.lt-sm="column" >
    <!-- fxFlex.xs="70%" fxFlex.sm="60%" fxFlex.md="100%" fxFlex.lg="100%" -->
 
    <div class="image-div"  >
        <img class="manageimg" src="../assets/images/manageDialog.svg" />
    </div>

    <div mat-dialog-content>
        <p class="Manage-track-your" >Manage & track your requests</p>
            <mat-label class="To-make-it-easier-fo">To make it easier for you to submit your
                requests. Please fill out the following data.
            </mat-label>

    </div>

    <div class="rect">
        <div class="Rectangle">
        </div>
    </div>
        
    <div mat-dialog-actions fxLayoutGap="15px"  flex fxLayout='row' fxLayout.lt-xm="row" fxLayoutAlign="end"  >
        <button mat-button  class="skipbtn"  fxFlex.xs="40%" fxFlex.sm="35%" fxFlex.md="20%" fxFlex.lg="30%" >Skip</button>
        <button mat-button  class="nextbtn"  fxFlex.xs="40%" fxFlex.sm="35%" fxFlex.md="20%" fxFlex.lg="30%" >Next</button>
    </div>
</div>