<mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <mat-tab label="REQUEST">

        <div flex fxLayout='row wrap' fxLayout.lt-sm="column" class="cardcontainer">
            <mat-card fxFlex.xs="100%" fxFlex.sm="35%" fxFlex.md="20%" fxFlex.lg="23%" class="example-card">
                <img mat-card-image src="../assets/images/medical.svg">
                <mat-card-content class="Main-Benefits">
                    <p>
                        Medical request
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex.xs="100%" fxFlex.sm="35%" fxFlex.md="20%" fxFlex.lg="23%" class="example-card">
                <img mat-card-image src="../assets/images/phone.svg">
                <mat-card-content class="Main-Benefits">
                    <p>
                       Phone Program
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex.xs="100%" fxFlex.sm="35%" fxFlex.md="20%" fxFlex.lg="23%" class="example-card">
                <img mat-card-image src="../assets/images/nursery.svg">
                <mat-card-content class="Main-Benefits">
                    <p>
                        Nursery Request
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex.xs="100%" fxFlex.sm="35%" fxFlex.md="20%" fxFlex.lg="23%" class="example-card">
                <img mat-card-image src="../assets/images/pension.svg">
                <mat-card-content class="Main-Benefits">
                    <p>
                        Pension Request
                    </p>
                </mat-card-content>
            </mat-card>

        </div>

    </mat-tab>
    <mat-tab label="TRACK">
        <!-- <h1>Some more tab content</h1>
      <p>...</p> -->
    </mat-tab>
</mat-tab-group>