<div class="mainContainer">
    <mat-card>
        <div class="row FirstRow" flex fxLayout='row wrap' fxLayoutGap="20px" fxLayout.lt-sm="column">

            <img fxFlex.xs="70%" fxFlex.sm="60%" fxFlex.md="30%" fxFlex.lg="30%"
                src="../../assets/images/phone1small.png" class="img" />
            <div fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="40%" fxFlex.lg="40%">
                <h2 class="Phone-Program">Phone program</h2>
                <p class="You-can-enjoy-handse">You can enjoy handset allowance variy according to your band with up
                    to 12 months installments.</p>
                <button mat-button class="requestButton"> Request phone program</button>
            </div>
        </div>
        <br />
        <hr style="width: 80%;" />
        <br />
        <div class="row SecondRow" flex fxLayout='row wrap' fxLayout.lt-sm="column">
            <div fxFlex.sm="80%" fxFlex.md="40%">
                <h4 style="padding-bottom: 2rem;">Eligibility</h4>
                <!-- <br /> -->
                <p>
                    <mat-label> Eligibility Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </mat-label> 9 MAR 2020
                </p>
                <!-- <p> {{Model.field}}</p> -->
                <p style="position: relative; top:-10px; left:0px;">
                    <mat-label>
                        Band&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </mat-label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; H1
                </p>
                <p style="position: relative; top:-20px;left:0px;">
                    <mat-label> Allowance&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </mat-label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    1,500 EGP every 18 m
                </p>

            </div>
            <div fxFlex.sm="80%" fxFlex.md="40%">
                <h4 style="padding-bottom: 2rem;">FAQs</h4>
                <p>Please visit our Phone Program FAQs section</p>
                <button mat-button class="FAQsButton"> Request phone program</button>
            </div>
        </div>
    </mat-card>
</div>