<div class="close">
    <mat-icon matPrefix (click)="closeDialog()">close</mat-icon>
</div>
<div class="" flex fxLayout='column' fxLayout.lt-sm="column">
    <h2 mat-dialog-title class="medical">Card Activation</h2>
    <mat-label class="To-use-your-benefits">Please fill in the requested fields </mat-label>

    <br />
    <hr class="new4" />
    <br />

    <mat-dialog-content flex fxLayout="column" fxLayout.lt-sm="column" class="medicalRequest">
        <mat-label class="Staff-ID">Request For</mat-label>
        <mat-form-field appearance="outline">
            <mat-label>Request For</mat-label>
            <mat-select (selectionChange)="onRequestSelection($event.value)">
                <mat-option *ngFor="let request of requestForList" [value]="request">
                    {{request}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <hr class="new4">
        <br>

        <mat-label class="Staff-ID">Card Type</mat-label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="cardType">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
            </mat-radio-button>
        </mat-radio-group>

        <br>
        <hr class="new4">
        <br>

        <div>

            <mat-label class="Staff-ID" *ngIf="requestFor == 'Spouse' && cardType!=''">First Name</mat-label>
            <mat-form-field appearance="outline" *ngIf="requestFor == 'Spouse' && cardType!=''">
                <input matInput>
            </mat-form-field>

            <div *ngIf="requestFor != '' && cardType!=''">
                <mat-label class="Attach-Requied-Docum">
                    Attach
                    Required Documents</mat-label>
                <p class="The-image-has-to-be">The image has to be 800x600 or 1200x900, and no larger that 10 MB.
                    <br> Supported formats are jpg and png files .</p>
            </div>
            <mat-label *ngIf="requestFor == 'Myself' && cardType!=''" class="Staff-ID">Personal Image </mat-label>
            <mat-label *ngIf="requestFor == 'Spouse' && cardType!=''" class="Staff-ID">Spouse Image </mat-label>

            <br>
            <button mat-button class="Rectangle-Copy" (click)="fileInput.click()"
                *ngIf="!personalImage.url && (requestFor == 'Myself' || requestFor == 'Spouse') && cardType =='New card'">
                <span>+</span>
                <input #fileInput type="file" style="display:none;" accept='image/*'
                    (change)="preview(fileInput.files,'Personal')" />
            </button>

            <div class="imagePrviw MFlxDiv"
                *ngIf="personalImage.url || (requestFor == 'Myself' || requestFor == 'Spouse') && cardType =='Replacement for lost one' ">
                <div class="MFlxImgDiv">
                    <img [src]="personalImage.url" class="imageCls">
                    <p class="Jpg"> {{personalImage.name}}</p>
                </div>
                <mat-icon class="deleIcon" (click)="deleteImg('Personal')">delete</mat-icon>
            </div>
        </div>

        <mat-label *ngIf="requestFor == 'Spouse' && cardType!=''" class="Staff-ID">Marriage Certificate </mat-label>

        <br>
        <button mat-button class="Rectangle-Copy" (click)="fileInput.click()"
            *ngIf="!marriageCertificateImage.url &&  requestFor == 'Spouse' && cardType =='New card'">
            <span>+</span>
            <input #fileInput type="file" style="display:none;" accept='image/*'
                (change)="preview(fileInput.files,'spouse')" />
        </button>

        <div class="imagePrviw MFlxDiv"
            *ngIf="marriageCertificateImage.url || requestFor == 'Spouse' && cardType =='Replacement for lost one' ">
            <div class="MFlxImgDiv">
                <img [src]="marriageCertificateImage.url" class="imageCls">
                <p class="Jpg"> {{marriageCertificateImage.name}}</p>
            </div>
            <mat-icon class="deleIcon" (click)="deleteImg('spouse')">delete</mat-icon>
        </div>

        <br>
        <br>
        <hr class="new4">
        <br>

    </mat-dialog-content>

    <mat-dialog-actions fxLayoutGap="10px" flex fxLayout='row' fxLayout.lt-xm="row" fxLayoutAlign="end">
        <button mat-button class="cancel" (click)="closeDialog()">Close</button>
        <button mat-button class="save" (click)="saveButton()"> Submit</button>
    </mat-dialog-actions>
</div>