<div class="close">
    <mat-icon matPrefix (click)="closeDialog()">close</mat-icon>
</div>
<div class="" flex fxLayout='column' fxLayout.lt-sm="column">
    <h2 mat-dialog-title class="medical">Card Activation</h2>
    <mat-label class="To-use-your-benefits">Please fill in the requested fields </mat-label>

    <br />
    <hr class="new4" />
    <br />

    <mat-dialog-content flex fxLayout="column" fxLayout.lt-sm="column" class="medicalRequest">
        <mat-label class="Staff-ID">Request For</mat-label>
        <mat-form-field appearance="outline">
            <mat-label>Request For</mat-label>
            <mat-select (selectionChange)="onRequestSelection($event.value)">
                <mat-option *ngFor="let request of requestForList" [value]="request">
                    {{request}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <hr class="new4">
        <br>

        <mat-label class="Staff-ID">Card Type</mat-label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            (change)="onCardTypeSelection($event.value)">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
            </mat-radio-button>
        </mat-radio-group>

        <br>
        <hr class="new4">
        <br>

        <div *ngIf="displayUploadImage">
            <mat-label class="Attach-Requied-Docum">Attach Requied Documents</mat-label>
            <p class="The-image-has-to-be">The image has to be 800x600 or 1200x900, and no larger that 10 MB.
                <br> Supported formats are jpg and png files .</p>

            <mat-label class="Staff-ID">Personal Image </mat-label>
            <br>
            <button mat-button class="Rectangle-Copy" (click)="fileInput.click()" *ngIf="!imgURL">
                <span>+</span>
                <input #fileInput type="file" style="display:none;" accept='image/*'
                    (change)="preview(fileInput.files)" />
            </button>
            <!-- <div class="imagePrviw" *ngIf="imgURL" flex fxLayout="row wrap" fxLayout.lt-sm="row" fxLayoutGap="20px"
                fxLayoutAlign="flex-start center">
                <img [src]="imgURL" class="imageCls">
                <p class="Jpg"> {{imageName}}</p>
                <mat-icon class="deleteIcon" (click)="deleteImg()">delete</mat-icon>
            </div> -->
            <div class="imagePrviw MFlxDiv" *ngIf="imgURL">
                <div class="MFlxImgDiv">
                    <img [src]="imgURL" class="imageCls">
                    <p class="Jpg"> {{imageName}}</p>
                </div>
                <mat-icon class="deleIcon" (click)="deleteImg()">delete</mat-icon>
            </div>
        </div>

        <br>
        <br>
        <hr class="new4">
        <br>

    </mat-dialog-content>

    <mat-dialog-actions fxLayoutGap="10px" flex fxLayout='row' fxLayout.lt-xm="row" fxLayoutAlign="end">
        <button mat-button class="cancel" (click)="closeDialog()">Close</button>
        <button mat-button class="save" (click)="saveButton()"> Submit</button>
    </mat-dialog-actions>
</div>