.mainContainer
{
    background-color: #f9f9f9; 
    margin: auto;
    width: 90%;
    padding-top: 40px;
}

.FirstRow
{
    justify-content: space-around;
    padding-top: 5rem;
}

.img
{
   height: 306px;
}


.Nursery{
    width: 100%;
    font-family: Poppins;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.69;
    letter-spacing: normal;
    color: #333333;
    /* height: 1.111rem; */
    font-size: 2.8rem;
  }

  .description {
    width: 90%;
    /* height: 6.667rem; */
    opacity: 0.96;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.06px;
    color: #333333;
  }

  .nurseryBtn {
    width: 77%;
    height: 5rem;
    border-radius: 4px;
    background-color: #e60000;
    color: white;
  }

  hr.new4 {
    border: 1px solid #f4f4f4;
    width: 85%;
  }

  .SecondRow
{
    justify-content: space-around;  
}

  .AboutHeader {
    font-family: Poppins;
    font-size: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    color: #333333;
  }

  .AboutBody {
    opacity: 0.96;
    width: 62%;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.06px;
    color: #333333;
    margin-bottom: 1rem;
  }
  
  .Please-visit-our {
    opacity: 0.96;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.06px;
    color: #333333;
  }

  .First-Round {
    /* width: 5.667rem;
    height: 1.111rem; */
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #e60000;
    margin-bottom: 0rem;
  }

  .Starts-on {
    /* width: 4.611rem;
    height: 1.667rem; */
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.36px;
    color: #666666;
    padding-left: 1rem;
    margin: 0;
    margin-top: 1rem;
  }

  .Date {
    /* width: 5.667rem;
    height: 1.667rem; */
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.36px;
    color: #333333;
    margin: 0;
    margin-top: 1rem;
  }
  .Policy{
  color: #e60000;
  text-decoration: underline;
}

.VOIS-pension-policy {
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.06px;
    color: #e60000;
    margin: 0;
    padding-left: 0.5rem;
  }

  .policyImg{
    display: flex;
  }

  .FAQs {
    font-family: Poppins;
    font-size: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: #333333;
  }

  .Please-visit-our-Pen {
    opacity: 0.96;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.06px;
    color: #333333;
    width: 60%;
    margin-bottom: 2rem;
  }

 .SecondRow .FAQBtn {
    width: 77%;
    height: 5rem;
    
    border-radius: 4px;
    border: solid 2px #e60000;
    color: #e60000;
  }

.mat-button[disabled] {
    background-color:  #afafaf;
    color: white;
 }

 .snackbar{
  color: #ffff;
  font-size: 15px;
}
