<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" mode="side" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="../../../assets/images/benefits-logo.svg" class="">
      <br />

    </mat-toolbar>
    <mat-nav-list fxlayout="row" fxLayoutAlign="center center" layout-align="center end">
      <div>
        <div fxLayout="column" fxLayoutAlign="space-between center" class="emp-data-container">
          <div class="circle-container">
            <div class="mask">
              <img src="../../../assets/images/profile-pic.svg" class="Artboard-30">
            </div>
          </div>
          <div class="emp-name">{{name}}</div>
          <div class="emp-title">{{title}}</div>
          <div class="sid-sebarator"></div>
        </div>

        <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">
          <mat-icon class="icon-margin-left">home</mat-icon> Home
        </a>
        <a mat-list-item href="#"> <img src="../../../assets/icons/benefits.svg" class="icon-margin-left"> Main
          Benefits</a>

        <a mat-list-item href="#">
          <mat-icon class="icon-margin-left">people</mat-icon> Offers
        </a>
        <a mat-list-item href="#">
          <mat-icon class="icon-margin-left">people</mat-icon> FAQs
        </a>
        <a mat-list-item href="#">
          <mat-icon class="icon-margin-left">people</mat-icon> Suggest Benefit
        </a>
        <a mat-list-item href="#">
          <mat-icon class="icon-margin-left">people</mat-icon> Power Of My ID
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- <span class="spacer"></span> -->

      <!-- <form>
        <mat-form-field appearance="standard">
          <mat-label>Standard form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </form> -->
      <!-- <a routerLink="complaint/create">Add Complaint</a>
      <a href="#">Add accounts</a> -->
      <a href="#">Logout</a>
    </mat-toolbar>

    <<<<<<< HEAD=======</mat-toolbar>>>>>>>> Home-MainBenefits-Mona <!-- Add Content Here -->
      <app-home></app-home>

      <router-outlet></router-outlet>

      <!-- <app-phone-program></app-phone-program> -->
  </mat-sidenav-content>
</mat-sidenav-container>