<div class="close">
    <mat-icon matPrefix (click)="closeDialog()">close</mat-icon>
</div>

<div class="" flex fxLayout='column' fxLayout.lt-sm="column">
    <h2 mat-dialog-title class="Pension">Pension</h2>
    <mat-label class="To-use-your-benefits">Please fill in the requested fields </mat-label>
    <br />
    <hr class="new4" />
    <br />
    <mat-dialog-content flex fxLayout='row warp' fxLayout.lt-sm="column">
        <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" flex fxLayout='column'>
            <mat-label class="Staff-ID">Begining Balance</mat-label>
            <mat-label class="EGP">{{CreatePensionRequestModel.beginingBalance}} EGP</mat-label>
        </div>

        <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" flex fxLayout='column'>
            <mat-label class="Staff-ID">Last Round Withdrawal</mat-label>
            <mat-label class="EGP">{{CreatePensionRequestModel.lastRoundWithdrawal}} EGP</mat-label>
        </div>

        <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" flex fxLayout='column'>
            <mat-label class="Staff-ID">Current Year Contribution</mat-label>
            <mat-label class="EGP">{{CreatePensionRequestModel.currentyearContribution}} EGP</mat-label>
        </div>

        <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" flex fxLayout='column'>
            <mat-label class="Staff-ID">Prorated New Contribution</mat-label>
            <mat-label class="EGP">{{CreatePensionRequestModel.proratedNewContribution}} EGP</mat-label>
        </div>

        <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" flex fxLayout='column'>
            <mat-label class="Staff-ID">Vesting percentage</mat-label>
            <mat-label class="EGP">{{CreatePensionRequestModel.vestingPercent}}%</mat-label>
        </div>

        <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" flex fxLayout='column'>
            <mat-label class="Staff-ID">Years of Service</mat-label>
            <mat-label class="EGP">{{CreatePensionRequestModel.tenure}} Years</mat-label>
        </div>

        <br />
        <hr class="new4" />
        <br />

        <div flex fxLayout='column' fxLayout.lt-sm="column">
            <mat-label class="Staff-ID">Current Available Balance</mat-label>
            <mat-label class="EGP">{{CreatePensionRequestModel.currentAvailableBalance}} EGP</mat-label>

            <mat-label class="Staff-ID">Max Withdrawal Amount</mat-label>
            <mat-label class="EGP">{{CreatePensionRequestModel.maxWithdrawalAmount}} EGP</mat-label>

        </div>
        <div fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" flex fxLayout='column'>
            <mat-label class="Staff-ID">Withdraw Amount</mat-label>
            <div class="policyImg">
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="CreatePensionRequestModel.withdrawalAmmount" (keyup)="checkMaxWithdrawalAmmount($event)" >
            </mat-form-field>
            <img src="../../assets/images/info.svg"*ngIf="disableBtn" >
           </div>
            <div class="Please-enter-an-amou" *ngIf="disableBtn">
                <div>
                    Please enter an amount of at most {{CreatePensionRequestModel.maxWithdrawalAmount}} EGP
                </div>           
            </div>
        </div>
    </mat-dialog-content>

    <br />
    <hr class="new4" />
    <br />

    <mat-dialog-actions fxLayoutGap="10px" flex fxLayout='row' fxLayout.lt-xm="row" fxLayoutAlign="end">
        <button mat-button class="cancel" (click)="closeDialog()">Close</button>
        <button mat-button class="save" (click)="saveButton()" > Save</button>
    </mat-dialog-actions>
    <!-- [disabled]="disableBtn" -->
</div>