<!-- <button class="uploadBtn">upload excel -->
<div>
    <p>upload metlife data</p>
    <input type="file" (change)="onFileChange($event)" accept=".xlsx" />
</div>


<!-- </button> -->


<!-- <div style="margin-bottom: .5%;">
    <input formControlName="files" type="file" (change)="fileChangeEvent($event.target.files)" class="form-control-file"
        multiple accept=".xlsx" [ngClass]="{ 'is-invalid': submitted && uploadForm.controls['files'].errors }" />
    <div *ngIf="submitted && uploadForm.controls['files'].errors" class="invalid-feedback">
        <div *ngIf="uploadForm.controls['files'].errors.required">Files are required</div>
    </div>
    <br />
</div> -->