.uploadBtn{

        /* width: 1rem; */
        /* color:  #e60000; */
        font-size: 3rem;
        font-weight: 300;
        /* border-radius: 2.4px; */
        background-color: rgba(230, 0, 0, 0.1);
}