<div class="mainContainer">
    <mat-card>
        <div class="row FirstRow" flex fxLayout='row wrap' fxLayoutGap="20px" fxLayout.lt-sm="column">

            <img fxFlex.xs="70%" fxFlex.sm="60%" fxFlex.md="30%" fxFlex.lg="30%"
                src="../../assets/images/pensionBox.svg" class="img" />

            <div fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="40%" fxFlex.lg="40%">
                <h2 class="Pension">Pension</h2>
                <p class="Vodafone-contributes">
                    Vodafone contributes by 10% of your annual salary as investment for you after
                    completion of 2 years of continous employment.
                </p>

                <button mat-button class="pensionBtn" (click)="openDialog()" [disabled]="disableBtn || !isEligibleFlag || isUserSubmitRequest">Request
                    Pension</button>
            </div>
        </div>

        <br />
        <hr style="width: 80%;" class="new4" />
        <br />

        <div class="row SecondRow" flex fxLayout='row wrap' fxLayout.lt-sm="column">
            <div fxFlex.sm="80%" fxFlex.md="40%" fxFlex.lg="30%">
                <h4 class="Pension-Round">Pension Round</h4>
                <p class="The-pension-round-gi">The pension round gives you the chance to withdraw up to 65%
                    from your available pension balance.</p>

                <h4 class="Pension-Round">Round Dates</h4>

                <div *ngFor= "let round of rounds">
                    <p class="First-Round"> {{round.roundName}}</p>
                    <div flex fxLayout='row wrap' fxLayout.lt-sm="row">
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Starts-on">Starts on</p>
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Date"> {{round.startDate  | date: "mediumDate" }}</p>
                    </div>
                    
                    <div flex fxLayout='row wrap' fxLayout.lt-sm="row">
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Starts-on">Ends on</p>
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Date"> {{round.endDate  | date: "mediumDate" }}</p>
                    </div>
                </div>

                <!-- <div>
                    <p class="First-Round"> First Round</p>
                    <div flex fxLayout='row wrap' fxLayout.lt-sm="row">
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Starts-on">
                            Starts on
                        </p>
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Date"> 18 FEB
                            2020</p>
                    </div>

                    <div flex fxLayout='row wrap' fxLayout.lt-sm="row">
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Starts-on">
                            Ends on</p>
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Date"> 25 FEB
                            2020</p>
                    </div>
                </div>
                <div>
                    <p class="First-Round"> Second Round</p>
                    <div flex fxLayout='row wrap' fxLayout.lt-sm="row">
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Starts-on">
                            Starts on
                        </p>
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Date"> 18 NOV
                            2020</p>
                    </div>

                    <div flex fxLayout='row wrap' fxLayout.lt-sm="row">
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Starts-on">
                            Ends on</p>
                        <p fxFlex.xs="40%" fxFlex.sm="40%" fxFlex.md="40%" fxFlex.lg="40%" class="Date"> 25 NOV
                            2020</p>
                    </div>
                </div> -->

            </div>
            <div fxFlex.sm="80%" fxFlex.md="40%" fxFlex.lg="40%">

                <h4 class="Pension-Round">Eligibility</h4>
                <p class="The-pension-round-gi">To know the framework of eligibility, please check the<br>
                    <a class="Policy"> Pension Policy</a>.</p>

                <div class="policyImg">
                    <img src="../../assets/images/cloud.svg">
                    <p class="VOIS-pension-policy"> VOIS pension policy</p>
                </div>


                <h4 class="FAQs">FAQs</h4>
                <p class="Please-visit-our-Pen">Please visit our Pension FAQs section</p>
                <button mat-button class="FAQBtn"> Pension FAQs</button>
            </div>
        </div>
    </mat-card>
</div>